*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
        .grid-columns >*{
            display: grid;
            grid-template-columns: 1fr repeat(3, 300px) 1fr;
            grid-template-rows: auto;
            
        
           }
        
    nav{
        background-color:rgb(212, 214, 215) ; 
        
        .nav-items{
            grid-column: 2/5;
            display: flex;
            white-space: nowrap;
            justify-content: space-between;
         
        }  
      }
    
    header{
       
        background-color: rgb(192, 195, 197);
        border-bottom: 20px solid rgb(212, 214, 215);
     
        .header-content{
            grid-column: 2/5;
        }
        .logo{
            display: flex;
            align-items: flex-end;
        }
    }
    main{
        background-color: rgb(29, 83, 119);  
        height: 300px;
        align-items: start;

        article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: 2/3;
            row-gap: 50px;
        }
        .img{
            grid-column: 3/5;
            position: relative;
             top: 0;
            left: 0;   
            justify-self: center;   
            object-fit: contain; 
            object-position: 0 0;    
        }
        .top{
            
             position: relative; 
             top: 0;
             left: 0;  
             z-index: 1;
        }
      
        .bottom{
            position: absolute;
            top: 30px;
            left: 170px;
            
            
        }
    }
  
    .first{
        background-color: rgb(212, 214, 215);
    }
    .second{
        background-color: rgb(192, 195, 197);
    }
    .third{
        background-color: rgb(212, 214, 215);
    }
    footer{
        background-color:rgb(192, 195, 197) ;
    }


a:hover{
    background-color: #608299;
}
a{   
     position: relative;


   }

span{
   
    width: 0;
    height: 0;
    position: absolute;           
    border-style: solid;
    border-width: 0;
    border-color: transparent #133851 transparent transparent;
    right: 100%;}
       
    a:hover span{
        transition-duration: 0.2s;
        border-width: 9px 15px 9px 0;
        border-color: transparent #133851 transparent transparent;
    } 
.nodisplay{
    display: none;
}